---
import PageLayout from "../../layouts/page-layout.layout.astro";
import { getCollection } from "astro:content";
import CodeBlock from "../../components/code-block.astro";
import { getCodeHtml } from "../../utils/get-code-html";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const data = [];

  for (const post of posts) {
    const { sections, language } = post.data;
    for (const section of sections) {
      for (const snippet of section.snippets) {
        snippet.codeHtml = await getCodeHtml({ language, code: snippet.code });
      }
    }
    data.push({
      params: { slug: post.id },
      props: { post: post.data },
    });
  }

  return data;
};

const { post } = Astro.props;
---

<style>
  .sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &:not(:last-of-type) {
      border-bottom: solid 1px #232323;
      padding-bottom: 25px;
    }
  }

  .title {
    color: #fada5e;
    font-size: 18px;
  }

  .welcome {
    color: #ffe4e1;
    text-align: center;
    margin-block: 50px;
  }
</style>

<PageLayout pageTitle={post.title}>
  <div class="sections">
    {
      post.sections.map((section) => (
        <div class="section">
          <div class="title">{section.subtitle}</div>
          {/* {section.snippets.map((snippet) => (
            <CodeBlock
              description={snippet.description}
              codeHtml={snippet.codeHtml}
            />
          ))} */}
        </div>
      ))
    }
  </div>
  <div class="welcome">You're welcome 🤗</div>
</PageLayout>
