---
import PageLayout from "../../layouts/page-layout.layout.astro";
import { getCollection } from "astro:content";
import { getCodeHtml } from "../../utils/get-code-html";
import PostPage from "@modules/post/index";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const data = [];

  for (const post of posts) {
    const { sections, language } = post.data;
    for (const section of sections) {
      for (const snippet of section.snippets) {
        snippet.codeHtml = await getCodeHtml({ language, code: snippet.code });
      }
    }
    data.push({
      params: { slug: post.id },
      props: { post: post.data },
    });
  }

  return data;
};

const { post } = Astro.props;
---

<style>
  .welcome {
    color: #ffe4e1;
    text-align: center;
    margin-block: 50px;
  }
</style>

<PageLayout pageTitle={post.title}>
  <PostPage data={post} client:load />
  <div class="welcome">You're welcome 🤗</div>
</PageLayout>
