@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
  --inline-spacing: 20px;
  --block-spacing: 20px;

  @media (min-width: 900px) {
    --inline-spacing: 20%;
  }
}

html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}
