/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"); */

:root {
  --inline-spacing: 20px;
  --block-spacing: 20px;

  @media (min-width: 900px) {
    --inline-spacing: 20%;
  }
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source-sans-pro-latin-400-normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source-sans-pro-latin-700-normal.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}
