---
import { getCollection } from "astro:content";

type Props = {
  tag?: string;
};

const { tag } = Astro.props;

const posts = await getCollection("posts", ({ data }) => {
  if (!tag) return true;
  return data.tags.includes(tag);
});
---

<style>
  .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .link > h2 {
    all: unset;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    transition: all 200ms;
    &:hover {
      color: #318ce7;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 0px;
    font-size: 14px;
    font-weight: normal;

    > a {
      transition: all 200ms;
      flex-shrink: 0;
      color: #ffbf00;
      &:hover {
        color: #fbec5d;
      }
    }
  }
</style>
<div class="links">
  {
    posts.map((post, idx) => (
      <div>
        <a href={`/posts/${post.id}`} class="link">
          <h2>
            {idx + 1}. {post.data.title}
          </h2>
        </a>
        <div class="tags">
          {post.data.tags.map((tag) => (
            <a href={`/tags/${tag}`} class="tag">
              #{tag}
            </a>
          ))}
        </div>
      </div>
    ))
  }
</div>
