---
import "../styles/globals.css";
import UnderlinedText from "../components/underlined-text.astro";

type Props = {
  pageTitle: string;
  underlineColor?: string;
};

const { pageTitle, underlineColor = "" } = Astro.props;
---

<style>
  body {
    background-image: radial-gradient(circle, #232323 0.5px, black 1px);
    background-size: 17px 17px;
    background-color: black;
    color: white;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    flex: 1;
    margin-inline: var(--inline-spacing);
    margin-block: var(--block-spacing);
    display: flex;
    flex-direction: column;
  }

  .header {
    padding-inline: var(--inline-spacing);
    padding-block: var(--block-spacing);
    border-bottom: solid 1.5px #1c1c20;
    background-color: #0d0d0f;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: 900px) {
    .header {
      padding-inline: 20%;
      padding-block: 15px;
      gap: 15px;
    }
  }
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link
      rel="preload"
      href="/fonts/source-sans-pro-latin-400-normal.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/source-sans-pro-latin-700-normal.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    /> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <!-- Preload critical font styles -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      as="style"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="header">
      <UnderlinedText
        text={pageTitle}
        type="h1"
        size="md"
        color="#FFFFFF"
        lineColor={underlineColor}
      />
    </div>
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>
